
:root {
    --colorAcidWash: #0368ff;    
    --colorPurpleRain: #ca7cd8;    
    --colorElectronic: #10e7e2;    
    --colorFlamingo: #f85097;    
    --colorPowersuit: #ff2153;    
    --colorBlack: #484848;    
    --colorWhite: #ffffff;    
    --colorSilver: #9e9e9e;    
    --colorNewStyle: #d9d9d9;    
    --colorPacman: #f9eb0f;    
    --colorFuschia: #c910e7;    
    --colorNeonGreen: #47ff37;    
}