
:root {
    --gradientOcean: radial-gradient(
          circle at center,
          #0368ff 0%,   
          #10e7e2 100%  
        )
        ;    
    --gradientSunrise: linear-gradient(
          135deg,
          #ca7cd8 0%,   
          #ff68a8 37%,   
          #f9eb0f 100%  
        )
        ;    
    --gradientMultilayerGradient: linear-gradient(
          180deg,
          #f9eb0f 0%,   
          #f9eb0f 46.4%  
        )
        ;    
}