.typographyTypographyStyle1 
 {
  
  font-family: "Fugaz One";
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyTypographyStyle2 
 {
  
  font-family: "Jacques Francois Shadow";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyTypographyStyle3 
 {
  
  font-family: "Jura";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

